@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    transition: 500ms;
    ::selection{
        background-color: var(--color-bg-paper);
        color: var(--color-text);
    }
    color: var(--color-text);
}
:root{
    --color-text:#160C28;
    --color-error:#DD1155;
    --color-warning:#FFEE88;
    --color-success:#04E762;
    --color-default:#00A7E1;
    --color-bg-paper:#E1FAF9;
    --color-primary:#FBFBF2;
    --color-primary-contrast: #F5CDA7;
    --color-secondary:#F45B69;
    --color-secondary-light:#F9808C;
    --color-white:#FFFFFF;  
}
.main-singInUp{
    @apply flex
    min-h-screen
    flex-col 
    items-center 
    justify-between 
}
.div-singInUp{
    @apply flex
    flex-col
    lg:w-1/3
    w-10/12
}
.textInput-singInUp{
    @apply w-full
    sm:rounded-md
    rounded-lg
    py-2
    px-5
    text-text
    border
    mt-4
}
.button-base{
    @apply w-full  
    p-2
    rounded-md
    text-lg
}
.button-singIn{
    @apply bg-secondary
    button-base
    text-white
    mt-6
    hover:bg-secondary-light
    hover:shadow-md
}
.button-reset{
    @apply
    button-base
    mt-3
    border
    hover:border-secondary
}

.error-div{
    @apply text-error
    mb-2
    text-center
    p-1
}